<form class="form-horizontal">
    <fieldset>
    
    <!-- Form Name -->
    <legend>Spectrum Analyzer Settings</legend>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="noise_floor">Noise Floor</label>  
      <div class="col-md-4">
      <input id="noise_floor" name="noise_floor" type="text" placeholder="0" class="form-control input-md" required="">
      <span class="help-block">Integer value for Noise Floor</span>  
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="min_frequency">Min Frequency</label>  
      <div class="col-md-4">
      <input id="min_frequency" name="min_frequency" type="text" placeholder="0" class="form-control input-md" required="">
      <span class="help-block">Integer value for Minimum Frequency</span>  
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="max_frequency">Max Frequency</label>  
      <div class="col-md-4">
      <input id="max_frequency" name="max_frequency" type="text" placeholder="1000" class="form-control input-md" required="">
      <span class="help-block">Integer Value for Max Frequency</span>  
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="min_amplitude">Min Amplitude</label>  
      <div class="col-md-4">
      <input id="min_amplitude" name="min_amplitude" type="text" placeholder="0" class="form-control input-md" required="">
      <span class="help-block">Integer value for Min Amplitude</span>  
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="max_amplitude">Max Amplitude</label>  
      <div class="col-md-4">
      <input id="max_amplitude" name="max_amplitude" type="text" placeholder="800" class="form-control input-md" required="">
      <span class="help-block">Integer value for Max Amplitude</span>  
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="num_bands">Number of Bands</label>  
      <div class="col-md-4">
      <input id="num_bands" name="num_bands" type="text" placeholder="6" class="form-control input-md" required="">
      <span class="help-block">Integer value of Number of Bands</span>  
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="visible_bands">Visible Bands</label>  
      <div class="col-md-4">
      <input id="visible_bands" name="visible_bands" type="text" placeholder="4" class="form-control input-md" required="">
      <span class="help-block">Integer value of Visible Bands</span>  
      </div>
    </div>
    
    <!-- Text input-->
    <div class="form-group">
      <label class="col-md-4 control-label" for="transmit_strength">Transmit Strength</label>  
      <div class="col-md-4">
      <input id="transmit_strength" name="transmit_strength" type="text" placeholder="500" class="form-control input-md" required="">
      <span class="help-block">Integer value of Transmit Strength</span>  
      </div>
    </div>
    
    <!-- Button (Double) -->
    <div class="form-group">
      <label class="col-md-4 control-label" for="button_submit"></label>
      <div class="col-md-8">
        <button id="button_submit" name="button_submit" class="btn btn-success">Submit</button>
        <button id="button_clear" name="button_clear" class="btn btn-danger">Clear</button>
      </div>
    </div>
    
    </fieldset>
    </form>
    